Cython==0.29.24
easydict==1.9
enlighten==1.10.2
gdown==4.4.0
ImageHash==4.2.1
matplotlib==3.5.1
numba==0.55.1
opencv-python==4.5.5.64
Pillow==9.1.0
pytorch-ignite==0.4.6
PyQt6==6.3.0
PyYAML==6.0
scipy==1.7.1
tensorboardX==2.5
tqdm==4.64.0