Cython
enlighten
gdown
ImageHash
matplotlib==3.5.1
numba==0.55.1
opencv-python==4.5.5.64
Pillow==9.1.0
pytorch-ignite
PyQt6
PyYAML==6.0
scipy==1.7.1
seaborn==0.11.2
timm==0.5.4
tensorboard==2.9.0
tensorboardX==2.5
tqdm
facenet-pytorch
pandas==1.1.5
pytorch-msssim==0.2.1
scikit-image==0.19.2
scikit-learn==1.0.2
ffmpeg-python

# for Google Images scraping
# selenium=4.4.3
# webdriver-manager=3.8.3

black
flake8
flake8-bandit
flake8-black
flake8-bugbear
safety
autopep8